.lead__subtitle {
  margin-top: 32px;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .lead__subtitle{
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}