.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  transition: .5s ease;
}

.place__link:hover {
  opacity: .8;
  transition: .5s ease;
}